.card-container {
  width: 300px;
  height: 200px;
  border: 3px solid #000000;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  cursor: pointer;
}

.card-id {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #150aeb;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  padding: 5px;
  font-family: "Roboto";
}

.card-title {
  display: inline;
}

.card-status {
  margin-top: 40px;
}

.card-container:hover {
  background-color: #0000001c;
}

.card-content {
  margin-top: 10px;
}
